:root {
    --background-darkgrey: rgb(90, 91, 93);
    --black: black;
    --textWhite: white;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--textWhite);
    background-color: var(--black);
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
}

.gamewrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.gamesList {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.gamesListTwo {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.game {
    width: 100%; 
    margin: 5px;
}

.game img {
    width: 100%;
}

.game h3,
.game p {
    display: none;
}

.game:hover h3,
.game:hover p {
    display: block; /* Show the content when the game is hovered */
}


.hideGameInfo {
    display:block;
}

