:root {
    --background-darkgrey: rgb(90, 91, 93);
    --black: black;
    --textWhite: white;
    --background-blue: #000a14;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--textWhite);
    background-color: var(--background-blue);
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--background-blue);
    gap: 150px;
}

header {
    display: flex;
    align-items: center;
    height:150px;
    padding: 0 20px 0 20px;
}

header h1 {
    padding-left: 20px;
    font-family: 'MedievalSharp', cursive;
}

.headerimage {
    height: 150px;
    width:150px;
}

header .headerimage {
    background-image: url('assets/images/levellunacyblue.jpg');
    background-size: cover;
}


.gamewrapper {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.gamesList {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.gamesListTwo {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.game {
    width: 100%; 
    margin: 5px;
}

.game img {
    width: 100%;
}

.game h3,
.game p {
    font-size: 0;
    max-height: 0; /* Initially set max-height to 0 */
    overflow: hidden; /* Hide the content */
    transition: max-height 1s ease, max-width 1s ease; /* Add a smooth transition effect for max-height and max-width */
}

.game:hover h3,
.game:hover p {
    max-height: 1000px; /* Set a sufficiently large max-height to accommodate content */
    font-size: 20px;
}


.hideGameInfo {
    display:block;
}

.randomCWrapper {
    display:flex;
    height: 80vh;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.formWrapper {
    display:flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

.smallerGame {
    height:475px;
    width: 400px;
}